*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 50px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: #094a82;
}
form{
    background: #fafafa;
    width: 700px;
    height: 580px;
    padding-left: 75px 50px;
}

.sidenav { 
    height: 85%;
    width: 180px; 
    position: fixed;
    z-index: 1; 
    top: 0;
    right: 0;
    background-color: white; 
    opacity: .5;
    overflow-x: hidden;
    padding-top: 20px;
  }
.sidenav a {
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    font-size: 15px;
    color: #053f62;
    display: block;
 }
  
.sidenav a:hover {
    color: wheat;
 }

 .main{
    margin-right: 200px;
    font-size: 15px;
    padding: 0px 10px;
 }

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#logo{ 
	position:fixed; 
	top: -80px;; 
	left:-80px; 
} 

p{
    word-wrap:break-word;
    width: 1300px;
    font-size: 20px;
}